.popup {
    background-image: url("../media/backgrounds/RockWallGray.png");
    background-size: contain;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    min-height: 75px;
    max-height: 430px;
    color: white;
    overflow-y: auto; /* Adiciona barra de rolagem vertical quando necessário */
}

.card {
    border-radius: 5%;
    background-image: url("../media/backgrounds/RockWallRed.png");
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    padding-top: 5px;
    padding-bottom: 10px ;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    color: white;
    /*min-width: 150px;*/
    margin: 0 auto;
    width: 250px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.card_header {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.card_body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px;
}

.card_graph {
    background-color: gray;
    min-height: 10px;
    min-width: 10px;
    margin-bottom: 15px;
}

.card_footer {
    text-align: center;
    overflow: hidden;
    max-height: 100px;
    font-size: 1rem;
    margin-bottom: 10px;
}

.card_image{
    width: 80px;
}