@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
::placeholder {
    font-style: italic;
    opacity: 1;
}
.input {
    color: white;
    background: rgba(0, 0, 0, 0.9);
    border-color: silver;
    width: 250px;
    margin-bottom: 20px;
}
body {
    cursor: none;
    /* url('../media/backgrounds/Josette.gif'), auto; */
}
.josette-cursor {
    width: 90px; /* Tamanho do GIF */
    height: 90px; /* Tamanho do GIF */
    position: absolute;
    pointer-events: none; /* Permite interagir com outros elementos */
    background: url('../media/backgrounds/Josette.gif') no-repeat center center;
    background-size: contain; /* Ajusta a imagem ao tamanho do elemento */
    z-index: 9999; /* Garante que o cursor fique acima de outros elementos */
}

header{
    background-color: black;
    color: rgb(105, 1, 1);
    font-family: 'MedievalSharp', serif;
}
main{
    height: 100%;
    position:static;
    display: flex;
    background-color: #1f1f1f;
}

.background-img {
    position: fixed;
    background-size: cover;
    background-position: center;
    top: 10%;
    right: 0;
    width: 100%;
    height: 100%;
    z-Index: -1;
}
.popup-container {
    /* display: none; Esconde o pop-up inicialmente */
    display: flex;
    position: fixed;
    top: 10;
    left: 0;
    padding-bottom: 4%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.popup-content {
    background: url('../media/buttons/PopUpDiablo.png') 
                no-repeat center center;
    padding: 5%;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 500px;
    width: 100%;
    height: 80%;
    color:gold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    outline: none;
}

.icones{
    width:  40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin: 3px;
}
.icones:hover {
    outline: 4px solid lightblue; 
}

/* max = se diminuir de  |   min = se passar de */
/*CELULAR*/
@media screen and (max-width: 430px) {
    .icones {
        width:  30px;
        height: 30px;
    }
}